<form
  #form="ngForm"
  (ngSubmit)="onSubmit( form.form )">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      ngControl="firstName"
      #firstName="ngForm"
      id="firstName"
      type="text"
      class="form-control"
      required
      minlength="3">
    <div *ngIf="firstName.touched && firstName.errors">
      <div
        class="alert alert-danger"
        *ngIf="firstName.errors.required">
          First name is required.
      </div>
      <div
        class="alert alert-danger"
        *ngIf="firstName.errors.minlength">
          First name should be minimum {{ firstName.errors.minlength.requiredLength }} characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      #comment="ngForm"
      ngControl="comment"
      name=""
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
      required>
    </textarea>
    <div
      class="alert alert-danger"
      *ngIf="!comment.valid && comment.touched">
        Comment is rquired.
    </div>
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!form.valid">
      Submit
  </button>
</form>